/* Basic styling for the chat area */
@font-face {
    font-family: chunkMonster;
    src: url(ChunkFive-Regular.ttf);
}
body {
    background-color: #ffc5c5;
    font-family: Verdana;
    margin: 0;
    padding: 0;
}
.chat-box {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #14213d;
    padding: 20px;
    min-height: 300px;
    overflow-y: scroll;
    font-family: Courier;
    background-color: #fff;
}
.user-msg {
    text-align: center;
    margin-bottom: 15px;
    font-family: Courier;
}
button {
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-family: Georgia;
    text-align: center;
    background-color: #FCD512;
}